* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
}

#container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 10%;
}

#container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button, input, select {
    color: black;
    font-size: 16px;
    padding: 10px;
    margin: 0 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid slategrey;
    border-radius: 4px;
}

span {
    color: white;
}

input {
    padding: 10px 1px;
    width: 60px;
    height: auto;
}

button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.active {
    background-color: black;
    color: white;
    border: 2px solid white;
}